@use 'sass:map';
@use '../../mixins/function' as *;
@use 'brand' as *;
@use 'background' as *;
@use 'text' as *;
@use 'border' as *;
@use 'icon' as *;
@use 'semantic' as *;
@use 'color-palette' as *;

$colors: (
        color-transparent:transparent,
) !default;
$colors: deep-merge-maps(
                $colors,
                $brand-colors,
                $background-colors,
                $text-colors,
                $border-colors,
                $icon-colors,
                $semantic-colors,
                $color-palette
);