@use "sass:map";
@use '../../mixins/function' as *;
@use 'brand' as *;
@use 'danger' as *;
@use 'warning' as *;
@use 'success' as *;
@use 'neutral' as *;

$colors: (
        color-transparent:transparent,
) !default;

$colors: deep-merge-maps(
                $colors,
                $color-brand,
                $color-danger,
                $color-warning,
                $color-success,
                $color-neutral
);

