@font-face {
  font-family: "hony-iconfont"; /* Project id 4778502 */
  src: url('iconfont.woff2?t=1733910557524') format('woff2'),
       url('iconfont.woff?t=1733910557524') format('woff'),
       url('iconfont.ttf?t=1733910557524') format('truetype');
}

.hony-iconfont {
  font-family: "hony-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hony-icon-loading-line:before {
  content: "\e604";
}

