@use 'sass:map';
@use '../mixins/function' as *;

$border-color: () !default;
$border-color: map.merge(
                (
                        '': #dcdfe6,
                        'light': #e4e7ed,
                        'lighter': #ebeef5,
                        'extra-light': #f2f6fc,
                        'dark': #d4d7de,
                        'darker': #cdd0d6,
                ),
                $border-color
);

$border-width: 1px !default;
$border-style: solid !default;
$border-color-hover: getCssVar('text-color', 'disabled') !default;

$border-radius: () !default;
$border-radius: map.merge(
                (
                        'base': 4px,
                        'small': 2px,
                        'round': 20px,
                        'circle': 100%,
                ),
                $border-radius
);