@use 'sass:map';
@use '../mixins/function' as *;

// Components
// ---
// Checkbox
// css3 var in packages/theme-chalk/src/checkbox.scss
$checkbox: () !default;
$checkbox: map.merge(
                (
                        'font-size': 14px,
                        'font-weight': getCssVar('font-weight-primary'),
                        'text-color': getCssVar('text-color-regular'),
                        'input-height': 14px,
                        'input-width': 14px,
                        'border-radius': getCssVar('border-radius-small'),
                        'bg-color': getCssVar('fill-color', 'blank'),
                        'input-border': getCssVar('border'),
                        'disabled-border-color': getCssVar('border-color'),
                        'disabled-input-fill': getCssVar('fill-color', 'light'),
                        'disabled-icon-color': getCssVar('text-color-placeholder'),
                        'disabled-checked-input-fill': getCssVar('border-color-extra-light'),
                        'disabled-checked-input-border-color': getCssVar('border-color'),
                        'disabled-checked-icon-color': getCssVar('text-color-placeholder'),
                        'checked-text-color': getCssVar('color-primary'),
                        'checked-input-border-color': getCssVar('color-primary'),
                        'checked-bg-color': getCssVar('color-primary'),
                        'checked-icon-color': getCssVar('color', 'white'),
                        'input-border-color-hover': getCssVar('color-primary'),
                ),
                $checkbox
);

$checkbox-button: () !default;
$checkbox-button: map.merge(
                (
                        'checked-bg-color': getCssVar('color-primary'),
                        'checked-text-color': getCssVar('color-white'),
                        'checked-border-color': getCssVar('color-primary'),
                ),
                $checkbox-button
);

$checkbox-bordered-padding-left: () !default;
$checkbox-bordered-padding-left: map.merge(
                (
                        'large': 12px,
                        'default': 10px,
                        'small': 8px,
                ),
                $checkbox-bordered-padding-left
);

$checkbox-bordered-padding-right: () !default;
$checkbox-bordered-padding-right: map.merge(
                (
                        'large': 20px,
                        'default': 16px,
                        'small': 12px,
                ),
                $checkbox-bordered-padding-right
);